<nav class="navbar navbar-expand-md navbar-dark bg-primary  sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Web Veículos</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarConteudo" aria-label="Toggle navigation"
    data-toggle="collapse" data-target="#navbarConteudo">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarConteudo">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/app-veiculos']">Listar</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/app-cadastro-veiculo']">Cadastrar</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/app-reserva-veiculo']">Reservas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>