<nav class="navbar navbar-expand-md navbar-light bg-light  sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Web Veículos</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarConteudo" aria-label="Toggle navigation"
    data-toggle="collapse" data-target="#navbarConteudo">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarConteudo">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Listar</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/app-cadastro-veiculo']">Cadastrar</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/app-reserva-veiculo']">Reservas</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Busca por placa" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>