<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Lista de Veículos</h5>
    <p class="card-text">Lista:</p>
    <tbody>
      <tr>
        <th>Id</th>
        <th>Placa</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Estado</th>
      </tr>
      <tr *ngFor="let item of _rows; let i =index">
        <td>{{i}}</td>
        <td>{{item.placa}}</td>  
        <td>{{item.modelo}}</td>
        <td>{{item.ano}}</td>      
        <td>{{item.estado?'Disponível':'Manutenção'}} </td>
      </tr>
    </tbody>
    <a href="#" class="btn btn-primary">Selecionar</a>
  </div>
</div>